.navbar {
  height: 71px;
}

.navbar .navbar-logo {
  height: 65px;
  width: 65px;
  border-radius: 50px;
}

.nav-item .nav-link {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 500;
}

.nav-item .nav-link:hover {
  color: red;
}

/* About Section */
.about {
  height: 100vh;
  padding-top: 90px !important;
  display: flex;
  justify-content: center;
  align-content: space-around;
  padding: 15px;
  color: white;
}

.about-description {
  height: 155px;
  font-size: 19px;
}

.about-description h2 {
  text-align: right;
  font-family: "Fraunces", serif;
  font-size: 45px;
  font-weight: 700;
  font-style: italic;
  margin: 55px;
}

.about-description hr {
  width: 90%;
}

.about-image {
  margin-right: 35px;
  border: 55px solid white;
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  background-image: url("/images/design.jpg");
  background-attachment: fixed;
  background-repeat: none;
  background-size: cover;
}

.services {
  /* height: 100vh; */
  padding-top: 90px;
  /* background-color: lightgreen; */
}

.services h2 {
  font-family: "Fraunces", serif;
  font-size: 45px;
  font-weight: 700;
  font-style: italic;
}

.services-box {
  /* display: flex;
  justify-content: start; */
  justify-content: center;
}

.box {
  cursor: pointer;
}

.box .bi {
  color: red;
}

.box p {
  color: darkgray;
}

.box:hover {
  color: white;
  border-radius: 15px !important;
  background-color: red;
}

.box:hover .bi {
  color: white;
}

.portfolio {
  height: 100vh;
  padding-top: 90px;
  color: white;
}

.portfolio h2 {
  font-family: "Fraunces", serif;
  font-size: 45px;
  font-weight: 700;
  font-style: italic;
}

.testimonial {
  height: 100vh;
  background-color: darkcyan;
}

.testimonial h2 {
  font-family: "Fraunces", serif;
  font-size: 45px;
  font-weight: 700;
  font-style: italic;
}

.contact {
  height: 100vh;
  background-color: bisque;
}

.contact h2 {
  font-family: "Fraunces", serif;
  font-size: 45px;
  font-weight: 700;
  font-style: italic;
}

.info {
  text-align: center;
  padding: 15px;
  font-size: larger;
}

.footer {
  margin-top: 15px;
}

@-webkit-keyframes headerSlideDown {
  0% {
    margin-top: -100px;
  }

  to {
    margin-top: 0;
  }
}

@keyframes headerSlideDown {
  0% {
    margin-top: -100px;
  }

  to {
    margin-top: 0;
  }
}

/* Hero Section */
.move-first {
  /* transform: translateX(255px); */
  position: relative;
  animation-name: move-01;
  animation-duration: 1s;
}

.delay-10 {
  animation-delay: 0.1s;
}

.delay-20 {
  animation-delay: 0.2s;
}

.delay-30 {
  animation-delay: 0.3s;
}

@keyframes move-01 {
  from {
    left: -255px;
  }

  to {
    left: 0px;
  }
}
